DATABASE_URL=postgresql://postgres:postgres@localhost:5432/app
BETTER_AUTH_SECRET=
APP_BUILDER_ENTITLED_ORGANIZATION_IDS=
APP_BUILDER_CONTROL_PLANE_URL=http://localhost:3000
APP_BUILDER_PROJECT_ID=project_local_development
APP_ENVIRONMENT_ID=environment_local_development
APP_BUILDER_FEATURE_FLAG_RUNTIME_TOKEN=
